* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #e60000;
    border-radius: 20px;
    background-clip: content-box;
  }

  .heading {
    text-align: center;
    color: #222;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 500;
  }
  
  section {
    padding: 3rem 9%;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: #e60000;
    color: #fff;
    font-size: 1.7rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .btn:hover {
    letter-spacing: .1rem;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-4rem) scale(0.4);
              transform: translateY(-4rem) scale(0.4);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-4rem) scale(0.4);
              transform: translateY(-4rem) scale(0.4);
    }
  }
  