<div class="fixed flex items-center w-full h-20 shadow-lg bg-white">
  <img
    alt="logo hms"
    src="assets/hsm-logo.png"
    class="object-cover h-full w-60"
  />
  <div class="flex justify-center gap-4 font-medium text-md">
    <a href="#" class="relative group"
      >Phòng trọ giá rẻ
      <span
        class="block absolute left-0 right-0 -bottom-1 h-0.5 bg-b-orange transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"
      ></span>
    </a>
    <a class="relative group"
      >Phòng trọ cao cấp
      <span
        class="block absolute left-0 right-0 -bottom-1 h-0.5 bg-b-orange transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"
      ></span>
    </a>
    <a class="relative group"
      >Dịch vụ cho chủ trọ
      <span
        class="block absolute left-0 right-0 -bottom-1 h-0.5 bg-b-orange transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"
      ></span>
    </a>
    <a class="relative group"
      >Về chúng tôi
      <span
        class="block absolute left-0 right-0 -bottom-1 h-0.5 bg-b-orange transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"
      ></span>
    </a>
    <a class="relative group"
      >Tuyên dụng
      <span
        class="block absolute left-0 right-0 -bottom-1 h-0.5 bg-b-orange transition-all duration-300 transform scale-x-0 group-hover:scale-x-100"
      ></span>
    </a>
  </div>
  <div class="flex items-center ml-auto mr-12">
    <!-- <button nz-button nzType="text" class="rounded-md hover:bg-b-gray/30">
      Đăng ký
    </button>
    <nz-divider nzType="vertical" class="!mx-1 h-7"></nz-divider>
    <button nz-button nzType="text" class="rounded-md hover:bg-b-gray/30">
      Đăng nhập
    </button> -->
    <app-noti-user></app-noti-user>
  </div>
</div>
