<div class="mt-4 p-6 bg-white shadow-lg rounded-lg">
  <!-- Breadcrumb -->
  <nz-breadcrumb class="mb-4">
    <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
    <nz-breadcrumb-item>Dịch vụ tòa nhà</nz-breadcrumb-item>
  </nz-breadcrumb>

  <!-- Search và Thêm mới -->
  <div class="flex justify-between items-center mb-4">
    <div class="flex gap-1 w-full">
      <nz-select
        [(ngModel)]="selectedBuildingId"
        (ngModelChange)="filterByBuildingId()"
        nzPlaceHolder="Chọn tòa nhà"
        class="w-40"
        nzSize="large"
      >
        <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
        <nz-option
          *ngFor="let building of buildings"
          [nzValue]="building.id"
          [nzLabel]="building.name"
        ></nz-option>
      </nz-select>
      <!-- Search Input -->
      <nz-input-group nzSearch nzSize="large" class="w-1/3">
        <input
          type="text"
          nz-input
          placeholder="Tìm kiếm dịch vụ"
          [(ngModel)]="searchValue"
          (ngModelChange)="searchData()"
          class="p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </nz-input-group>
    </div>

    <button
      nz-button
      nzType="primary"
      (click)="showAddModal()"
      class="flex items-center"
      nzSize="large"
    >
      <span nz-icon nzType="plus-circle" nzTheme="outline" class="mr-1"></span>
      Thêm mới dịch vụ
    </button>
  </div>

  <!-- Table -->
  <nz-table
    #basicTable
    [nzData]="filteredData"
    [nzBordered]="true"
    class="mt-4"
  >
    <thead class="bg-gray-100">
      <tr>
        <th class="p-4 text-left text-gray-600">STT</th>
        <th class="p-4 text-left text-gray-600">Tên Dịch Vụ</th>
        <th class="p-4 text-left text-gray-600">Giá</th>
        <th class="p-4 text-left text-gray-600">Loại</th>
        <th class="p-4 text-left text-gray-600">Trạng thái</th>
        <th class="p-4 !text-right text-gray-600">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filteredData" class="hover:bg-gray-100">
        <td class="p-4">{{ data.id }}</td>
        <td class="p-4">{{ data.serviceName }}</td>
        <td class="p-4">{{ data.price | currency }}</td>
        <td class="p-4">{{ data.type }}</td>
        <td class="p-4">
          <span
            [ngClass]="
              data.isDelete
                ? 'border border-red-500 bg-red-500 text-white'
                : 'border border-green-500 bg-green-500 text-white'
            "
            class="px-2 rounded-lg inline-block"
          >
            {{ data.isDelete ? "Đã xóa" : "Còn sử dụng" }}
          </span>
        </td>

        <td class="p-4 space-x-2 flex items-center justify-end">
          <span
            nz-tooltip
            (click)="showEditModal(data)"
            nzTooltipTitle="Chỉnh sửa"
          >
            <button
              nz-button
              nzType="text"
              class="text-blue-500 hover:text-blue-700"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
          </span>
          <nz-divider nzType="vertical"></nz-divider>
          <span
            nz-tooltip
            (click)="showDeleteModal(data.id)"
            nzTooltipTitle="Xóa"
          >
            <button
              nz-button
              nzType="text"
              class="text-red-500 hover:text-red-700"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- Modal for adding service -->
</div>
