<nz-modal [(nzVisible)]="isVisible" nzTitle="Quên Mật Khẩu" nzCentered [nzFooter]="null" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmail()" class="flex flex-col justify-center p-4"
      nzLayout="vertical">
      <nz-form-item>
        <nz-form-label [nzSm]="64" [nzXs]="64" nzFor="email" nzRequired>Nhập emal đã đăng ký</nz-form-label>
        <nz-form-control [nzSm]="64" [nzXs]="64" nzErrorTip="Vui lòng nhập địa chỉ email hợp lệ">
          <input nz-input formControlName="email" id="email" placeholder="Nhập email của bạn" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mx-auto w-max">
        <nz-form-control [nzSpan]="64">
          <button nz-button nzType="primary" type="submit">Gửi mật khẩu mới</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
<app-notification *ngIf="showNotification" [type]="notificationType" [message]="notificationMessage"></app-notification>

