<!-- Sidebar -->
<nav class="col-md-2 sidebar" id="sidebar">
    <div class="position-sticky">
      <h3 class="text-center">QUẢN LÝ NHÀ TRỌ</h3>
      <p class="text-center">Xin Chào, HUY</p>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phòng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dịch vụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chỉ số điện</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chỉ số nước</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phát sinh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tính tiền</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phiếu chi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lịch sử gửi email/SMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Công việc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Báo cáo</a>
        </li>
      </ul>
    </div>
  </nav>